@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: rgb(83 83 83);
  --secondary-color: rgb(110 110 110);
  --bg-color: #c08f40;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: rgb(200 200 200);
    --secondary-color: rgb(150 150 150);
    --bg-color: #1f6356;
  }
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  color: var(--primary-color);
  background-color: var(--bg-color);
}
