.typewrite::before {
  content: "";
  animation: typing 2.5s steps(20) forwards;
}

.typewrite::after {
  content: "";
  border-right: 1px solid var(--fg-color);
  animation: blink 1s linear infinite;
}

@media (prefers-reduced-motion) {
  .typewrite::before {
    content: "Hi! I'm Jose Paredes";
    animation: none;
  }
}

@keyframes typing {
  0% {
    content: "";
  }
  5% {
    content: "H";
  }
  10% {
    content: "Hi";
  }
  15% {
    content: "Hi!";
  }
  20% {
    content: "Hi! I";
  }
  25% {
    content: "Hi! I'";
  }
  30% {
    content: "Hi! I'm";
  }
  35% {
    content: "Hi! I'm J";
  }
  40% {
    content: "Hi! I'm Jo";
  }
  45% {
    content: "Hi! I'm Jos";
  }
  50% {
    content: "Hi! I'm Jose";
  }
  55% {
    content: "Hi! I'm Jose P";
  }
  60% {
    content: "Hi! I'm Jose Pa";
  }
  65% {
    content: "Hi! I'm Jose Par";
  }
  70% {
    content: "Hi! I'm Jose Pare";
  }
  75% {
    content: "Hi! I'm Jose Pared";
  }
  80% {
    content: "Hi! I'm Jose Paredes";
  }
  100% {
    content: "Hi! I'm Jose Paredes";
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
